# Java
*.class
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws
*.log
*.mvn
**/target/
**/logs/
**/build/
**/.settings/
**/.idea/
**/.classpath
**/.project
**/.metadata
**/.recommenders
**/.factorypath
**/bin/
**/out/
**/.gradle/
**/build/
**/dist/
**/generated/

# Spring Boot
**/target/
**/logs/
**/tmp/
**/hs_err_pid*.log

# Kotlin
*.class
*.jar
*.war
*.ear
*.iml
*.ipr
*.iws
*.log
**/target/
**/logs/
**/build/
**/.settings/
**/.idea/
**/.classpath
**/.project
**/.metadata
**/.factorypath
**/bin/
**/out/
**/.gradle/
**/build/
**/dist/
**/generated/

# Mobile Kotlin
**/build/
**/captures/
**/.externalNativeBuild/
**/.cxx/
**/local.properties
**/gradle.properties
**/.idea/
**/.gradle/
**/app/build/
**/app/captures/
**/app/intermediates/
**/app/intermediates/
**/app/outputs/

# React.js
node_modules/
build/
dist/
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
